// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style

// 代码行号无法选中
.gutter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none; 
}